table {
    width: 100%;
  }

  table {
    width: 100%;
  }

  .btn-circle {
    width: 20px;
    height: 20px;
    padding: 1px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
}

.cursorPointer { cursor: pointer; 
}

.selected {
  background-color: #A9A9A9 ;
}
