<div class="row">
  <div class="col">
    <h4>Clientes</h4>
  </div>
</div>
<div class="row">
  <div class="col">
      <app-dialog-clientes ></app-dialog-clientes>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idCliente">
        <th mat-header-cell *matHeaderCellDef> Cód. </th>
        <td mat-cell *matCellDef="let element"> {{element.idCliente}} </td>
      </ng-container>
      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
      </ng-container>
      <ng-container matColumnDef="cpfCliente">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> {{element.cpfCliente}} </td>
      </ng-container>
      <ng-container matColumnDef="sexoCliente">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexoCliente}} </td>
      </ng-container>
      <ng-container matColumnDef="idVendedor">
        <th mat-header-cell *matHeaderCellDef> Cód. Vendedor </th>
        <td mat-cell *matCellDef="let element"> {{element.idVendedor}} </td>
      </ng-container>
      <ng-container matColumnDef="actionsColumn">
          <th mat-header-cell *matHeaderCellDef> Acoes </th>
          <mat-cell *matCellDef="let element">
              <button mat-button (click)="editar(element)"><img src="../../assets/icon/si-glyph-circle-forward.svg"/></button>
              <button mat-button (click)="apagar(element)"><img src="../../assets/icon/si-glyph-circle-error.svg"/></button>
          </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  