<div style="text-align:center">
  <h2>
    {{ title }}!
  </h2>
  <br />
  <div class="container">
    <div class="row">
      <div class="col col-md-5">
        <div class="row">
          <div class="col">
            <app-table-vendedores></app-table-vendedores>
          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="row">
          <div class="col">
            <app-table-clientes ></app-table-clientes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
